## Set up Replicate: https://replicate.com
REPLICATE_API_TOKEN=

## Generate a random secret for the webhook: https://generate-secret.vercel.app/32
WEBHOOK_SECRET=

## Forward Requests Locally (local dev)
NGROK_URL=

## Set up Vercel Blob: https://vercel.com/docs/storage/vercel-blob/quickstart
BLOB_READ_WRITE_TOKEN=

## Set up Vercel KV: https://vercel.com/docs/storage/vercel-kv/quickstart
KV_URL=
KV_REST_API_URL=
KV_REST_API_TOKEN=
KV_REST_API_READ_ONLY_TOKEN=

## Prisma: https://www.prisma.io/docs/reference/database-reference/connection-urls#env
## Set up PlanetScale: https://planetscale.com/docs/tutorials/planetscale-quick-start-guide
DATABASE_URL=